<div class="product-container">
  <p>{{ product.name }}</p>
  <p>{{ product.price }}</p>
  <a routerLink="/details/{{ product.id }}">
    <img [src]="product.url" class="product-image"/>
  </a>
  <button *ngIf="!isCart" (click)="addToCart()">Add to cart</button>
  <button *ngIf="!isCart" (click)="removeFromCart()">Remove from cart</button>

  <p *ngIf="isCart">Quantity</p>
  <input *ngIf="isCart" type="number" (change)="onSubmit()" name="username" required minlength="1" value="{{ productQuantity}}"
         [(ngModel)]="productQuantity">

</div>
