<div class="product-container">
  <p>{{ product.name }}</p>
  <p>{{ product.price }}</p>
  <p *ngIf="isCart">Quantity: {{cartProduct.quantity}}</p>
  <a routerLink="/details/{{ product.id }}">
    <img [src]="product.url" class="product-image"/>
  </a>

  <select  class="select-input" [(ngModel)]="newQuantity">
    <option value=1>Quantity</option>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
    <option value=6>6</option>
    <option value=7>7</option>
    <option value=8>8</option>
    <option value=9>9</option>
    <option value=10>10</option>
  </select>
  <button *ngIf="!isCart" (click)="addToCart(false)">Add to cart</button>
  <button *ngIf="isCart" (click)="addToCart(true)">Update</button>

  <button (click)="removeFromCart()">Remove from cart</button>

</div>
