<p>product-item-detail works!</p>
<p>the id is {{productId}}</p>
<div class="detail-container">
  <p class="detail-item">{{ selectedProduct.name }}</p>
  <p class="detail-item">{{ selectedProduct.description }}</p>
  <p class="detail-item">{{ selectedProduct.price }}</p>
  <img [src]="selectedProduct.url" class="product-image"/>
  <select class="select-input">
    <option>Quantity</option>
    <option>1</option>
    <option>2</option>
  </select>
  <button>Add to cart</button>
  <a routerLink="/">Back to product list</a>
</div>
